<a href="https://colab.research.google.com/github/Nuga-D/Codes/blob/master/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libraries

In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

User Defined Functions

In [33]:
def quality_report(df):
    """
    Description: Displays quality of data in terms of missing values, 
    unique numbers, datatypes etc.
    
    Arguments: Dataframe
    """
    dtypes = df.dtypes
    nuniq = df.T.apply(lambda x: x.nunique(), axis=1)
    total = df.isnull().sum().sort_values(ascending = False)
    percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
    quality_df  = pd.concat([total, percent, nuniq, dtypes], axis=1, keys=['Total NaN', 'Percent of NaN','Nunique', 'Dtype'])
    display(quality_df)

Dataframe description

In [34]:
energydf = pd.read_csv('/content/energydata_complete.csv')
quality_report(energydf)

             Total NaN  Percent of NaN  Nunique    Dtype
date                 0             0.0    19735   object
T7                   0             0.0     1955  float64
rv1                  0             0.0    19735  float64
Tdewpoint            0             0.0     1409  float64
Visibility           0             0.0      413  float64
Windspeed            0             0.0      189  float64
RH_out               0             0.0      566  float64
Press_mm_hg          0             0.0     2189  float64
T_out                0             0.0     1730  float64
RH_9                 0             0.0     3388  float64
T9                   0             0.0      924  float64
RH_8                 0             0.0     6649  float64
T8                   0             0.0     2228  float64
RH_7                 0             0.0     5891  float64
RH_6                 0             0.0     9709  float64
Appliances           0             0.0       92    int64
T6                   0             0.0     4446  float64
RH_5                 0             0.0     7571  float64
T5                   0             0.0     2263  float64
RH_4                 0             0.0     2987  float64
T4                   0             0.0     1390  float64
RH_3                 0             0.0     2618  float64
T3                   0             0.0     1426  float64
RH_2                 0             0.0     3376  float64
T2                   0             0.0     1650  float64
RH_1                 0             0.0     2547  float64
T1                   0             0.0      722  float64
lights               0             0.0        8    int64
rv2                  0             0.0    19735  float64

In [35]:
energydf.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

Question 12

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

x = energydf[['T2']] #Temperature in the living room
y = energydf['T6'] #Temperature outside the building

#fit the model
linear_model = LinearRegression()
linear_model.fit(x, y)

#obtain predictions
predicted_values = linear_model.predict(x)

#R^2 Value
from sklearn.metrics import r2_score
r2_score = r2_score(y, predicted_values)
round(r2_score, 2 )

0.64

Question 13

In [40]:
energydf = energydf.drop(["date", "lights"], axis=1)

#Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalised_energydf = pd.DataFrame(scaler.fit_transform(energydf), columns=energydf.columns)
features_energydf = normalised_energydf.drop(columns=['Appliances'])
appliances_target = normalised_energydf['Appliances']

#Now, we split our dataset into the training and testing dataset. Recall that we had earlier segmented the features and target variables.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_energydf, appliances_target, test_size= 0.3 , random_state= 42 )

from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

Question 14

In [41]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2 )

45.35

Question 15

In [42]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 2 )

0.09

Question 16

In [44]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2 )

0.15

Question 17

In [45]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha= 0.5 )
ridge_reg.fit(x_train, y_train)

from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001 )
lasso_reg.fit(x_train, y_train)

#comparing the effects of regularisation
def get_weights_energydf(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_energydf = pd.DataFrame(weights).reset_index()
    weights_energydf.columns = [ 'Features' , col_name]
    weights_energydf[col_name].round( 3 )
    return weights_energydf

linear_model_weights = get_weights_energydf(linear_model, x_train, 'Linear_Model_Weight' )
ridge_weights_energydf = get_weights_energydf(ridge_reg, x_train, 'Ridge_Weight' )
lasso_weights_energydf = get_weights_energydf(lasso_reg, x_train, 'Lasso_weight' )
final_weights = pd.merge(linear_model_weights, ridge_weights_energydf, on= 'Features' )
final_weights = pd.merge(final_weights, lasso_weights_energydf, on= 'Features' )


final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.401134     -0.000000
1         T_out            -0.321860     -0.250765      0.000000
2            T2            -0.236178     -0.193880      0.000000
3            T9            -0.189941     -0.188584     -0.000000
4          RH_8            -0.157595     -0.156596     -0.000110
5        RH_out            -0.077671     -0.050541     -0.049557
6          RH_7            -0.044614     -0.046291     -0.000000
7          RH_9            -0.039800     -0.041701     -0.000000
8            T5            -0.015657     -0.020727     -0.000000
9            T1            -0.003281     -0.021549      0.000000
10          rv1             0.000770      0.000743     -0.000000
11          rv2             0.000770      0.000743     -0.000000
12  Press_mm_hg             0.006839      0.006516     -0.000000
13           T7             0.010319      0.010021     -0.000000
14   Visibility             0.012307      0.012032      0.000000
15         RH_5             0.016006      0.016176      0.000000
16         RH_4             0.026386      0.024168      0.000000
17           T4             0.028981      0.027006     -0.000000
18    Windspeed             0.029183      0.030463      0.002912
19         RH_6             0.038049      0.035023     -0.000000
20         RH_3             0.096048      0.094976      0.000000
21           T8             0.101995      0.100754      0.000000
22    Tdewpoint             0.117758      0.076668      0.000000
23           T6             0.236425      0.213316      0.000000
24           T3             0.290627      0.287408      0.000000
25         RH_1             0.553547      0.511932      0.017880

Question 18

In [46]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha= 0.4 )
ridge_reg.fit(x_train, y_train)

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 2)

0.09

Question 19

In [47]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001 )
lasso_reg.fit(x_train, y_train)

linear_model_weights = get_weights_energydf(linear_model, x_train, 'Linear_Model_Weight' )
ridge_weights_energydf = get_weights_energydf(ridge_reg, x_train, 'Ridge_Weight' )
lasso_weights_energydf = get_weights_energydf(lasso_reg, x_train, 'Lasso_weight' )
final_weights = pd.merge(linear_model_weights, ridge_weights_energydf, on= 'Features' )
final_weights = pd.merge(final_weights, lasso_weights_energydf, on= 'Features' )


final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2            T2            -0.236178     -0.201397      0.000000
3            T9            -0.189941     -0.188916     -0.000000
4          RH_8            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6          RH_7            -0.044614     -0.045977     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
8            T5            -0.015657     -0.019853     -0.000000
9            T1            -0.003281     -0.018406      0.000000
10          rv1             0.000770      0.000748     -0.000000
11          rv2             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15         RH_5             0.016006      0.016152      0.000000
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19         RH_6             0.038049      0.035519     -0.000000
20         RH_3             0.096048      0.095135      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23           T6             0.236425      0.217292      0.000000
24           T3             0.290627      0.288087      0.000000
25         RH_1             0.553547      0.519525      0.017880

Question 20

In [49]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088